	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/02/2020 07:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-digital:before { content: "\f100"; }
.flaticon-flow-chart:before { content: "\f101"; }
.flaticon-price-tag:before { content: "\f102"; }
.flaticon-integration:before { content: "\f103"; }
.flaticon-tick:before { content: "\f104"; }
.flaticon-cancel:before { content: "\f105"; }
.flaticon-bullhorn:before { content: "\f106"; }
.flaticon-company:before { content: "\f107"; }
.flaticon-right:before { content: "\f108"; }